<%
    var page = (typeof page !== "undefined") ? page : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var pageContent = (page.pageContent) ? page.pageContent : {};
    var slideApks = (page.homeApkChoices) ? page.homeApkChoices : {};
    var gameApks = (page.homeBestGames) ? page.homeBestGames : {};
    var appApks = (page.homeBestApps) ? page.homeBestApps : {};
    var blogs = (page.homeLastestBlogs) ? page.homeLastestBlogs : [];
    var maxApkRecords = 15;
    var categories = (page.catesSidebar) ? page.catesSidebar : [];
    var cateApp = (page.appsSidebar) ? page.appsSidebar : [];
    var role = (page.role) ? page.role : {};
    var userRole = (page.userRole) ? page.userRole : {};
%>

<%- include("includes/header"); %>

<div class="main-wrap wrapper" style="height: auto !important;">
    <!-- Start Middle Content -->
    <div class="middle-content" style="height: auto !important;">
      <main class="notr side-right" style="top: 0px;">
        <!-- Main Blog Section -->
        <div class="section" id="RecentPosts">
          <div class="widget Blog" data-version="2" id="Blog1">
            <div>
              <div class="headline">
                <h6>آخر المشاركات</h6>
              </div>
              <div class="index-posts">
                <div class="post-outer">
                  <a class="img-wrap"
                    href="">
                    <img alt="تحميل لعبة هز الحديد تطويف Shake Metal‏ مهكرة اخر اصدار"
                      title="تحميل لعبة هز الحديد تطويف Shake Metal‏ مهكرة اخر اصدار"
                      src="assets/image/ShakeMetal.webp">
                    <div class="overlay"></div>
                    <span class="label-title">العاب</span>
                  </a>
                  <h2 class="post-title cate-link"><a class="entry-title"
                      href=""
                      itemprop="name">تحميل لعبة هز الحديد تطويف Shake Metal‏ مهكرة اخر اصدار</a></h2>
                  <div class="details">
                    <a href=""
                      rel="bookmark">
                      <time class="post-date published updated" title="2021-10-18T20:48:00+03:00">
                        <i class="fa fa-calendar-times-o"></i>
                        18 أكتوبر 2021
                      </time>
                    </a>
                  </div>
                  <p class="cate-snippet">Shake Metal هي لعبة سباق أركيد لا نهاية لها مع مهارات قيادة قوية والعديد من
                    الميزات الأخرى. اللعبة ليست باللغة الإنجليزية على الإطلاق. تحميل لعبة هز الحديد تطويف مهكرة جواهر
                    و أموال ومع ذلك…
                  </p>
                  <div class="post-share">
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                    <ul class="share-menu">
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                    </ul>
                  </div>
                  <a class="read-more"
                    href="">تابع
                    القراءة »</a>
                </div>
                <div class="post-outer">
                  <a class="img-wrap"
                    href="">
                    <img alt="تحميل لعبة Idle Fantasy : Merge clicker RPG‏ مهكرة اخر اصدار"
                      title="تحميل لعبة Idle Fantasy : Merge clicker RPG‏ مهكرة اخر اصدار"
                      src="assets/image/CombatQuest(1).webp">
                    <div class="overlay"></div>
                    <span class="label-title">الإستراتيجية</span>
                  </a>
                  <h2 class="post-title cate-link"><a class="entry-title"
                      href=""
                      itemprop="name">تحميل لعبة Idle Fantasy : Merge clicker RPG‏ مهكرة اخر اصدار</a></h2>
                  <div class="details">
                    <a href=""
                      rel="bookmark">
                      <time class="post-date published updated" title="2021-10-18T14:11:00+03:00">
                        <i class="fa fa-calendar-times-o"></i>
                        18 أكتوبر 2021
                      </time>
                    </a>
                  </div>
                  <p class="cate-snippet">لم أعد مضطرًا إلى النقر باستمرار على أبطالي ودمجهم وإحيائهم باستمرار ، حتى
                    عندما يكونون غير متصلين أو غير مسجلين جربه الآن وقم بتنزيل اللعبة مهكرة لتخوض بمغامرة ممتعة جدا.
                    اجمع بين بطل وآخر…
                  </p>
                  <div class="post-share">
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                    <ul class="share-menu">
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                    </ul>
                  </div>
                  <a class="read-more"
                    href="">تابع
                    القراءة »</a>
                </div>
                <div class="post-outer">
                  <a class="img-wrap"
                    href="">
                    <img alt="تحميل لعبة Combat Quest - Archer Action RPG‏ مهكرة اخر اصدار"
                      title="تحميل لعبة Combat Quest - Archer Action RPG‏ مهكرة اخر اصدار"
                      src="assets/image/CombatQuest(1).webp">
                    <div class="overlay"></div>
                    <span class="label-title">العاب</span>
                  </a>
                  <h2 class="post-title cate-link"><a class="entry-title"
                      href=""
                      itemprop="name">تحميل لعبة Combat Quest - Archer Action RPG‏ مهكرة اخر اصدار</a></h2>
                  <div class="details">
                    <a href=""
                      rel="bookmark">
                      <time class="post-date published updated" title="2021-10-18T10:28:00+03:00">
                        <i class="fa fa-calendar-times-o"></i>
                        18 أكتوبر 2021
                      </time>
                    </a>
                  </div>
                  <p class="cate-snippet">هذا العالم مليء بالمخلوقات الرهيبة والغريبة ، وهو الان بحاجة ماسة إلى منقذ
                    ليتم انقاذه نعم هذا المنقذ سيكون أنت انت الوحيد القادر علئ استكمال المهمة بنجاح. طور أسلوب لعبك
                    الفريد من خلال الا…
                  </p>
                  <div class="post-share">
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                    <ul class="share-menu">
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                    </ul>
                  </div>
                  <a class="read-more"
                    href="">تابع
                    القراءة »</a>
                </div>
                <div class="post-outer">
                  <a class="img-wrap"
                    href="">
                    <img alt="تحميل Galaxy Attack: Alien Shooter‏ مهكره اخر اصدار"
                      title="تحميل Galaxy Attack: Alien Shooter‏ مهكره اخر اصدار"
                      src="assets/image/unnamed.webp">
                    <div class="overlay"></div>
                    <span class="label-title">العاب</span>
                  </a>
                  <h2 class="post-title cate-link"><a class="entry-title"
                      href=""
                      itemprop="name">تحميل Galaxy Attack: Alien Shooter‏ مهكره اخر اصدار</a></h2>
                  <div class="details">
                    <a href=""
                      rel="bookmark">
                      <time class="post-date published updated" title="2021-10-18T09:01:00+03:00">
                        <i class="fa fa-calendar-times-o"></i>
                        18 أكتوبر 2021
                      </time>
                    </a>
                  </div>
                  <p class="cate-snippet">تحميل لعبه Galaxy Attack: Alien Shooter‏ مهكره وجاهزه&nbsp; تحميل لعبه
                    Galaxy Attack مهكره اخر اصدار Alien Shooter مهكره هيه لعبه حرب الفضاء او حرب الطائرات لعبه ممتعه
                    تستحق التجربه متاح…
                  </p>
                  <div class="post-share">
                    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
                    <ul class="share-menu">
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
                      <li><a
                          href=""
                          rel="noopener" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                    </ul>
                  </div>
                  <a class="read-more"
                    href="">تابع
                    القراءة »</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <aside class="notr" style="top: 2368px;">
        <div class="section" id="sidebar-section">
          <div class="widget HTML" data-version="2" id="HTML1">
            <div class="headline" data-title="مشاركات عشوائية">
              <h6>مشاركات عشوائية</h6>
            </div>
            <div class="widget-content CusWidget rendered">
              <div class="rand-content">
                <div>
                  <a href="#" class="img-wrap">
                    <img src="assets/image/unnamed.webp">
                  </a>
                  <h2>
                    <a href="#">تحميل
                      لعبه SHADOWGUN LEGENDS - New FPS and RPG shooter‏ مهكره وجاهزه
                    </a>
                  </h2>
                  <div class="details">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>14 فبراير
                      2019
                    </span>
                  </div>
                </div>
                <div>
                  <a href="#" class="img-wrap">
                    <img src="assets/image/unnamed(5).webp">
                  </a>
                  <h2>
                    <a href="#">تحميل
                      لعبه Raft Survival: Ultimate‏ مهكره اخر اصدار 
                    </a>
                  </h2>
                  <div class="details">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>14 فبراير
                      2019
                    </span>
                  </div>
                </div>
                <div>
                  <a href="#" class="img-wrap">
                    <img src="assets/image/unnamed(6).webp">
                  </a>
                  <h2>
                    <a href="#">تحميل
                      لعبه Rope Hero Revolution‏ مهكره وجاهزه
                    </a>
                  </h2>
                  <div class="details">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>13 فبراير
                      2019
                    </span>
                  </div>
                </div>
                <div>
                  <a href="#" class="img-wrap">
                    <img src="assets/image/a.png">
                  </a>
                  <h2>
                    <a href="#">تحميل
                      لعبه WarPods‏ مهكره وجاهزه
                    </a>
                  </h2>
                  <div class="details">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>13 فبراير
                      2019
                    </span>
                  </div>
                </div>
                <div>
                  <a href="#" class="img-wrap">
                    <img src="assets/image/ga.png">
                  </a>
                  <h2>
                    <a href="#">تحميل
                      لعبه Robot Fighting 2 مهكره وجاهزه
                    </a>
                  </h2>
                  <div class="details">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>13 فبراير
                      2019
                    </span>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </aside>
      <i class="clear"></i>
    </div>
     <div class="bottom-content wide-sec">
    </div>
    <i class="clear"></i>
    <div class="bottom-content wide-sec">
      <div class="sided-sections cate no-wide two-cols">
        <div class="section" id="section16">
          <div class="widget HTML rendered cate-sided home-cate" data-version="2" id="HTML7">
            <div class="headline" data-title="العاب مغامرات" style="display: block;">
              <h6>العاب مغامرات</h6>
              <a class="ribble" href=""><b>‏المزيد…</b></a>
            </div>
            <div class="widget-content">
              <div class="Item">
                <a href="#" class="img-wrap">
                  <img src="assets/image/unnamed.webp">
                  <div class="overlay"></div>
                  <div class="details-on-img">
                    <span class="post-date">
                      <i class="fa fa-calendar-times-o"></i>23 فبراير 2021
                    </span>
                  </div>
                </a>
                <h2 class="cate-link">
                  <a href="#">تحميل لعبه Fairy Kingdom مهكره اخر اصدار</a>
                </h2>
                <p class="cate-snippet">
                  مملكة الجنيات تدور حول السحر وبناء المدن والزراعة. إنها قصة جميلة عن الحب الرقيق ولا تنتهي أبدًا من إخلاص أمير شاب لأميراته.

                  تحميل لعبه Fairy Kingdom: World of Magic مهكره اخر اصدار

                  تحميل لعبه Fairy Kingdom: World of Magic مهكره للاندرويد مملكة الجنيات تدور حول السحر وبناء ...
                </p>
                <a class="read-more" href="#">تابع القراءة »</a>
                <div class="post-share">
                  <div class="share-icon">
                    <i class="fa fa-share-alt"></i>
                  </div>
                  <ul class="share-menu">
                    <li>
                      <a target="_blank" href="">
                        <i class="fa fa-facebook fa-fw"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="#">
                        <i class="fa fa-twitter fa-fw"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="#">
                        <i class="fa fa-pinterest-p fa-fw"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="Item">
                <a href="#" class="img-wrap">
                  <img src="assets/image/ga.png">
                </a>
                <h2 class="cate-link">
                  <a href="#">تحميل لعبه Dune مهكره اخر اصدار</a>
                </h2>
                <div class="details">
                  <span class="post-date"><i class="fa fa-calendar-times-o"></i>09 أكتوبر 2020</span>
                </div>
              </div>
              <div class="Item">
                <a href="#" class="img-wrap">
                  <img src="assets/image/Duo.png">
                </a>
                <h2 class="cate-link">
                  <a href="#">تحميل لعبه Smashy Duo‏ مهكره اخر اصدار</a>
                </h2>
                <div class="details">
                  <span class="post-date"><i class="fa fa-calendar-times-o"></i>23 سبتمبر 2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section" id="section18">
          <div class="widget HTML rendered cate-sided home-cate" data-version="2" id="HTML5">
            <div class="headline" data-title="العاب أركيد" style="display: block;">
              <h6>العاب أركيد</h6>
              <a class="ribble" href=""><b>‏المزيد…</b></a>
            </div>
            <div class="widget-content">
              <div class="Item">
                <a href="" class="img-wrap">
                  <img src="assets/image/unnamed.webp">
                  <div class="overlay"></div>
                  <div class="details-on-img">
                    <span class="post-date"><i class="fa fa-calendar-times-o"></i>23 فبراير 2021</span>
                  </div>
                </a>
                <h2 class="cate-link">
                  <a href="#">تحميل لعبه Fairy Kingdom مهكره اخر اصدار</a>
                </h2>
                <p class="cate-snippet">
                  مملكة الجنيات تدور حول السحر وبناء المدن والزراعة. إنها قصة جميلة عن الحب الرقيق ولا تنتهي أبدًا من إخلاص أمير شاب لأميراته.

                  تحميل لعبه Fairy Kingdom: World of Magic مهكره اخر اصدار

                  تحميل لعبه Fairy Kingdom: World of Magic مهكره للاندرويد مملكة الجنيات تدور حول السحر وبناء ...
                </p>
                <a class="read-more" href="#">تابع القراءة »</a>
                <div class="post-share">
                  <div class="share-icon">
                    <i class="fa fa-share-alt"></i>
                  </div>
                  <ul class="share-menu">
                    <li>
                      <a target="_blank" href="">
                        <i class="fa fa-facebook fa-fw"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="fa fa-twitter fa-fw"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="fa fa-pinterest-p fa-fw"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="Item">
                <a href="" class="img-wrap">
                  <img src="assets/image/ga.png">
                </a>
                <h2 class="cate-link">
                  <a href="">تحميل لعبه Dune مهكره اخر اصدار</a>
                </h2>
                <div class="details">
                  <span class="post-date"><i class="fa fa-calendar-times-o"></i>09 أكتوبر 2020</span>
                </div>
              </div>
              <div class="Item">
                <a href="" class="img-wrap">
                  <img src="assets/image/Duo.png">
                </a>
                <h2 class="cate-link">
                  <a href="">تحميل لعبه Smashy Duo‏ مهكره اخر اصدار</a>
                </h2>
                <div class="details">
                  <span class="post-date"><i class="fa fa-calendar-times-o"></i>23 سبتمبر 2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <i class="clear"></i>
      </div>
    </div>
    <i class="clear"></i>
  </div>

<!-- <main class="main-mr-top">
    <div class="container mr-top-3">
        <div class="row">
            <main class="col-12 col-lg-9 content-area">
                <section class="bg-white border shadow-sm pt-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <h2 class="h5 font-weight-semibold mb-0">
                           Editor's Choice
                        </h2>
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk", {posts: slideApks.rows}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/games/">
                            <h2 class="h5 font-weight-semibold mb-0">
                            Games Mod - Latest
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/games/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk2", {posts: gameApks.rows}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/apps/">
                            <h2 class="h5 font-weight-semibold mb-0">
                            Premium Apps - Latest
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/apps/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-apk2", {posts: appApks.rows}); %>
                    </div>
                </section>
            </main>
            <aside class="col-12 col-lg-3 widget-area">
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/games/">
                            <h2 class="h5 font-weight-semibold mb-0">
                            Games
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/games/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: categories}); %>
                    </div>
                </section>
                <section class="bg-white border rounded shadow-sm pt-3 px-2 px-md-3 mb-3">
                    <header class="d-flex align-items-end mb-3">
                        <a class="text-body" href="<%=homeUrl%>/apps/">
                            <h2 class="h5 font-weight-semibold mb-0">
                            Apps
                            </h2>
                        </a>
                        <a class="btn btn-primary btn-sm ml-auto" href="<%=homeUrl%>/apps/">View More</a>
                    </header>
                    <div class="row">
                        <%- include("includes/list-category", {categories: cateApp}); %>
                    </div>
                </section>
            </aside>
        </div>
    </div>

    <%
        if(userRole.rolename == role.rolename && userRole.ismaster == role.ismaster){
    %>
        <div class="sidebar-add">
            <button class="add-new">
                <a href="/<%=dashboard%>/post/post-apk/add">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M2492 5109 c-45 -13 -108 -80 -121 -126 -7 -26 -11 -392 -11 -1130
                            l0 -1093 -1113 -2 -1113 -3 -41 -27 c-63 -41 -88 -90 -88 -169 0 -54 5 -72 27
                            -106 15 -22 44 -51 65 -64 l38 -24 1112 -3 1113 -2 2 -1113 3 -1112 24 -38
                            c13 -21 42 -50 64 -65 34 -23 52 -27 107 -27 55 0 73 4 107 27 22 15 51 44 64
                            65 l24 38 3 1112 2 1113 1113 2 1112 3 38 24 c21 13 50 42 65 64 23 34 27 52
                            27 107 0 55 -4 73 -27 107 -15 22 -44 51 -65 64 l-38 24 -1112 3 -1113 2 -2
                            1113 -3 1112 -24 38 c-47 76 -151 113 -239 86z" />
                    </g>
                </svg>
                </a>
            </button>
            <button class="eidt">
                <a href="/<%=dashboard%>/post/post-apk">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#ffffff"
                        stroke="none">
                        <path d="M4135 5099 c-27 -6 -79 -24 -115 -41 -56 -27 -99 -65 -315 -279
                            l-250 -248 522 -523 523 -523 251 250 c137 138 270 276 293 307 81 106 96 245
                            41 367 -21 45 -74 104 -288 319 -268 271 -340 330 -431 357 -67 20 -170 26
                            -231 14z" />
                                        <path d="M1860 2935 l-1315 -1315 520 -520 520 -520 1320 1320 1320 1320 -515
                            515 c-283 283 -519 515 -525 515 -6 0 -602 -592 -1325 -1315z" />
                                        <path d="M131 734 c-92 -415 -131 -606 -127 -629 7 -37 39 -70 83 -85 27 -10
                            109 8 619 131 324 78 591 144 594 146 5 4 -1021 1033 -1031 1033 -3 0 -65
                            -268 -138 -596z" />
                    </g>
                </svg>
                </a>
            </button>
        </div>
    <%
        }
    %>
</main> -->

<%- include("includes/footer"); %>