<% 
    var page=(typeof page !=="undefined" ) ? page : {}; 
    var pageContent=(page.pageContent) ? page.pageContent : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var apks=page.postSearch.rows || []; 
    var maxPage=page.postSearch.maxPage;
    var categories = (page.catesSidebar) ? page.catesSidebar : [];
    var cateApp = (page.appsSidebar) ? page.appsSidebar : [];
%>
<%- include("includes/header"); %>

<div class="main-wrap wrapper" style="height: auto !important;">
    <div class="middle-content" style="height: auto !important;">
      <main class="notr side-right" style="top: 0px;">
        <div class="section" id="RecentPosts">
          <div class="widget Blog" data-version="2" id="Blog1">
            <div>
              <div class="headline">
                <h6><%=pageContent.title%></h6>
              </div>
              <div class="index-posts">
                <% if(apks.length> 0){
                    %>
                <div class="post-outer">
                    <%- include("includes/list-search", {posts: apks}); %>
                </div>
                <div id="Pagination">
                    <div class="nums">
                      <ul class="pagination">
                          <%-page.pagination%>
                      </ul>
                    </div>
                  </div>
                <% }else{ %>
                    <p class="mb-50">
                        <%=__('msgEmptySearch')%>
                    </p>
                    <% } %>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>

<%- include("includes/footer"); %>