<%
    var post = (post) ? post : {};
    var homeUrl = (page.curLang.ismain) ? domain : `${domain}/${page.curLang.id}`;
    var thumb = (post.thumb) ? post.thumb : {};
    var noimage = `${domain}/assets/image/no-image.jpg`;
    var thumbnail = (thumb.urlicon) ? thumb.urlicon : noimage;
    var permalink = `${homeUrl}/${post.slug}/`;
    var title = post.title;
    var content = (post.content) ? post.content : "";
    var description = post.description || "";
    var lastUpdated = functions.formart_datetime(post.modifiedat, "seo");
    var lastUpdatedText = functions.formart_timestamp_text(post.modifiedat);
    var apk=(post.apk) ? post.apk : {}; 
    var modFeature=(apk.mod_text) ? `${apk.mod_text}` : __("textNoMod"); 
    var apkVersion=(apk.version) ? apk.version : __("textUnknow");
    var apkSize = (apk.apk_size) ? apk.apk_size : __("textUnknow");
%>

<a class="img-wrap" href="<%=permalink%>" title="<%=title%>">
    <img data-src="<%=thumbnail%>" src="<%=thumbnail%>" alt="<%=title%>">
    <div class="overlay"></div>
    <span class="label-title"><%=title%></span>
</a>
<h2 class="post-title cate-link">
    <a class="entry-title" href="<%=permalink%>" title="<%=title%>"><%=title%>
    </a>
</h2>
<div class="details">
    <a href=""
      rel="bookmark">
      <time class="post-date published updated" title="">
        <i class="fa fa-calendar-times-o"></i>
        18 أكتوبر 2021
      </time>
    </a>
</div>
<p class="cate-snippet"><%=post.seotitle%>
</p>
<div class="post-share">
    <div class="share-icon"><i class="fa fa-share-alt"></i></div>
        <ul class="share-menu">
            <li> <a href="" rel="noopener" target="_blank"><i class="fa fa-facebook fa-fw"></i></a> </li>
            <li> <a href="" rel="noopener" target="_blank"><i class="fa fa-twitter fa-fw"></i></a> </li>
            <li><a href="" rel="noopener" target="_blank"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
        </ul>
    </div>
<a class="read-more" href="<%=permalink%>">تابع
القراءة »</a>
